* {
    margin: 0;
    padding: 0;
}
.banner {
    padding: 0 20%;
}
.banner img {
    width: 100%;
    height: 200px;
}
.banner .title {
    font-family: "Arabic Typesetting";
    font-size: 32px;
    margin-top: -50px;
    padding: 0 20px;
    color: white;
    transform: skew(10deg);
}
.banner .title span {
    color: #f5c276;
    text-shadow: 0 4px 5px red;
}